.nb-navbar {
  display: flex;
  padding: 16px 32px;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
}

.nb-link {
  display: inline-block;
  margin-right: 24px;

  font-family: 'Space Grotesk', monospace, sans-serif;
  color: #F4F4F4;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.nb-button {
  display: inline-flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;

  border-radius: 0px;

  background-color: var(--_color---primary-purple);

  color: #F4F4F4;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}